@tailwind base;
@tailwind components;
@tailwind utilities;


.hideScroll{
-ms-overflow-style: none;
 scrollbar-width: none;
}

@media (max-width: 525px){

    .service-icon{
        color: #fff;
    }
    
  
    
}

.box-effect:hover .icon-effect {
    color: white;
  }
  
  .service-list:hover .service-icon {
    color: #ffff;
  }
  
.bg-primary{
  background-color:#007aff;
}